<?xml version="1.0" encoding="utf-8"?>
<job>
    <command>
        blastp -query ${q} -db ${db} -out ${res}
    </command>
    
    <input id="q" split="true"><!-- only one allowed with splitter -->
        <!-- s3n, local, ... = only one url per input -->
        <url splitter="fasta">/local/foo/bar/myfile.fasta</url>
        <!--url splitter="fasta">hdfs://pouet/myfile.fasta</url-->
        <!--url splitter="fasta">s3n://AWS-ID:AWS-SECRET-KEY@BUCKET-NAME/myfile.fasta</url-->
        <!--url splitter="fasta">http://example.org/myfile.fasta</url-->
    </input>

    <input id="db"> <!-- split attribute can be omitted or set to none -->
        <!-- s3n, local, ... = only one url per input -->
        <url autocomplete="true">/local/foo/bar/myfile</url>
        <!--url>hdfs://pouet/myfile.fasta</url-->
        <!--url>s3n://AWS-ID:AWS-SECRET-KEY@BUCKET-NAME/myfile.fasta</url-->
        <!--url>http://example.org/myfile.fasta</url-->
    </input>
    
    <outputs>
      <compressor>gzip</compressor>
      <!--compressor>bzip2</compressor-->
      <!--compressor>none</compressor-->
      
      <url>/local/foo/bar</url> <!-- how is it handled? -->
      <!--url>hdfs://pouet/</url--> <!-- how is it handled? -->
      <!--url>s3n://AWS-ID:AWS-SECRET-KEY@BUCKET-NAME/</url-->
      <!-- any other protocol? -->
      
      <output id="res" reducer="blast" sequence="true" />
      <output id="res2" reducer="fasta" />
    </outputs>
    
    <hadoop>
        <config key="mapred.child.java.opts">-Xmx1024m</config>
    </hadoop>
</job>